{% extends 'base.twig' %}

{% block content %}

<h2>Login</h2>

{{ flash.error|raw }} <br />
{#<a href="recover">Forgot your password?</a> <br>#}
<a href="{{ urlFor('recover') }}">Forgot your password?</a> <br />
<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user"> <br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<input type="submit" name="submit" value="Log in">
</form>
{% endblock %}
