{% extends 'base.twig' %}

{% block content %}
    <form action="" method="POST">

<label>Enter your username: </label>
<input type="text" name="username"> <br />
<label>Enter your email: </label>
<input type="text" name="email"> <br />
<input type="submit" name="Submit" value="Submit">
</form>
{% endblock %}
